---
---

// start content

/*@font-face {
   font-family: 'soria-font';
   src: url('soria-font.ttf') format('truetype');
}*/

/*html {
	//font-size: 12px;
}*/

body{
	background-color:  #ffeeee;
	//font-family: soria-font, Verdana, sans-serif;
	font-size: 100%;
}

// Intestazione
header {
	position: fixed;
	text-align: right;
	right: 0;
	left: 0;
	height: 4em;
	border-width: 0 0 1px;
	background-image: linear-gradient(to bottom, #E75480 0%, #222 100%);
	background-repeat: repeat-x;
	border-radius: 0;
	top: 0;
	padding: {
		right: 2em;
		left: 0;
		bottom: 0;
		top: 0;
	}
	box-shadow: 5px 5px 10px 2px #333333; 
	z-index: 2016;

	// Navigazione dedicata all'oggeto visualizato
	nav {
		display: inline-block;	
		ul {
			display: inline-block;

    			li {
				display: inline-block;
				border-width: 0 0 1px;
				box-shadow: 5px 5px 10px 2px #333333 inset;
				background-color: #ffaaaa;
				padding: {
					right: 5px;
					left: 5px;
					bottom: 5px;
					top:5px;
				}
				a {
					&:link { //, &:visited {
						color: #cc0000;
						text-decoration: none;
						font-weight: bold;
						text-shadow: 2px 2px 3px #333333;
					}
				}
			}
		}
	}
}

// visualizatore
.container {
	padding: {
		right: 5em;
		left: 18em;
		bottom: 5em;
		top: 8em;
	}
}

// link e info esterni o non inerenti l'oggeto visualizato
aside {
	position: fixed;
	color: #272201;
	left: 0;
	top: 5em;
	bottom: 5px;
	width: 13em;
	border-width: 0 0 1px;
	background-image: linear-gradient(to bottom, #E75480 0%, #ffaaaa 100%);
	background-repeat: repeat-x;
	border-radius: 0;
	box-shadow: 5px 5px 10px 2px #333333; 
	padding: {
		right: 5px;
		left: 10px;
		bottom: 15px;
		top: 15px;
	}
	
	// immagine logo
	img {
		width: 10em;
		padding: {
			top: 2em;
			bottom: 1.5em;
		}
	}
}

// pagina dove scriviamo i post o articoli
.paper {
	background-color:  white;
	padding: {
		right: 3em;
		left: 3em;
		bottom: 3em;
		top: 3em;
		width: 0 0 1px;
	}	
	border-radius: 0;
    	box-shadow: 5px 5px 10px 2px #333333;
}

// L'ambiente visualizato, tipo: 'Home', 'Blog', 'Eeventi', 'Post' ecc.
#environment {
		display: block;
		border-width: 0 0 1px;
		box-shadow: 5px 5px 10px 2px #333333 inset;
		background-color: #ffaaaa;
		padding: {
			right: 0.3em;
			left: 0.3em;
			bottom: 0;
			top:0;
		}
		height: 4em;
		line-height: 2em;
		position: fixed;
		left: 2em;
		top: 0;
		z-index: 3016;
		 h1 {
		 	color: #858932; //00bb00;
			text-shadow: 2px 2px 3px #333333;
		}

}

// Come si presenta la lista dei post
.posts {
	display: inline-block;
	text-align: left;
	padding: {
		right: 0;
		left: 0;
		bottom: 0;
		top: 0;
	}
	ul {	
		padding: {
			right: 0;
			left: 0;
			bottom: 0;
			top: 0;
		}
		display: block;
		li {
			text-align: left;
			display: inline-block;
			padding: {
				right: 0;
				left: 2em;
				bottom: 2em;
				top: 0;
			}

			// Come si presenta l'anteprima dei post
			.note {
				display: block;
				//position: relative;				
				background-color:  white;
				width: 20em;
				font-size: 70%;
				box-shadow: 5px 5px 10px 2px #333333;
				padding: {
					right: 2em;
					left: 2em;
					bottom: 2em;
					top: 2em;
				}

				// L'ateprima del post e` un link al post completo
				&:link, &:visited {
					color: black;
					text-decoration: none;
				}
				&:visited {
					background-color:  #eeeeee;
				}
			}
		}
	}
}

