---
---

// start content

body{
	background-color:  #ffeeee;
	font-size: 100%;
}

header {
	position: fixed;
	text-align: right;
	right: 0;
	left: 0;
	height: 4em;
	border-width: 0 0 1px;
	background-image: linear-gradient(to bottom, #E75480 0%, #222 100%);
	background-repeat: repeat-x;
	border-radius: 0;
	top: 0;
	padding: {
		right: 2em;
		left: 0;
		bottom: 0;
		top: 0;
	}
	box-shadow: 5px 5px 10px 2px #333333; 
	z-index: 2016;
	nav {
		display: inline-block;	
		ul {
			display: inline-block;

    			li {
				display: inline-block;
				border-width: 0 0 1px;
				box-shadow: 5px 5px 10px 2px #333333 inset;
				background-color: #ffaaaa;
				padding: {
					right: 5px;
					left: 5px;
					bottom: 5px;
					top:5px;
				}
					a {
						&:link, &:visited {
							color: #cc0000;
							text-decoration: none;
							font-weight: bold;
							text-shadow: 2px 2px 3px #333333;
						}
					}
			}
		}
	}
}

.container {
	padding: {
		right: 5em;
		left: 18em;
		bottom: 5em;
		top: 8em;
	}
}


aside {
	position: fixed;
	color: #272201;
	left: 0;
	top: 5em;
	bottom: 5px;
	width: 13em;
	border-width: 0 0 1px;
	background-image: linear-gradient(to bottom, #E75480 0%, #ffaaaa 100%);
	background-repeat: repeat-x;
	border-radius: 0;
	box-shadow: 5px 5px 10px 2px #333333; 
	padding: {
		right: 5px;
		left: 10px;
		bottom: 15px;
		top: 15px;
	}

	img {
		width: 10em;
		padding: {
			top: 2em;
			bottom: 1.5em;
		}
	}
}

.paper {
	background-color:  white;

	padding: {
		right: 3em;
		left: 3em;
		bottom: 3em;
		top: 3em;
		width: 0 0 1px;
	}
	
	border-radius: 0;
    	box-shadow: 5px 5px 10px 2px #333333;
}

#environment {
		display: block;
		border-width: 0 0 1px;
		box-shadow: 5px 5px 10px 2px #333333 inset;
		background-color: #ffaaaa;
		padding: {
			right: 0.3em;
			left: 0.3em;
			bottom: 0;
			top:0;
		}
		height: 4em;
		line-height: 2em;
		position: fixed;
		left: 2em;
		top: 0;
		z-index: 3016;
		 h1 {
		 	color: #858932; //00bb00;
			text-shadow: 2px 2px 3px #333333;
		}

}

.posts {
	display: block;
	li {
		display: inline-block;
		box-shadow: 5px 5px 10px 2px #333333;
		background-color:  white;
		width: 20em;
		font-size: 70%;

				padding: {
			right: 2em;
			left: 2em;
			bottom: 2em;
			top: 2em;
		}


	}
}
